$texte: white;
$bordure: black;
$fond: #778beb;
$fond2: #546de5;

.container {
  margin: auto;
  border-radius: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    max-width: 100%;
  }
  a {
    color: $texte;
    border-radius: 5px;
    background: $fond;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    &:hover {
      background: $fond2;
    }
  }
}
@media screen and (min-width: 300px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
}
